@font-face {
	font-family: 'Libre-Baskerville';
	src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Libre-Baskerville';
	src: url('fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: oblique;
}


@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}


html,
body {
    background-color: black;
}


.container-fluid {
    background-color: black;
}

h5 {
    font-family: 'Libre-Baskerville';
    font-weight: bold;
    font-style: normal;
}

.default-text {
    color: #4eaadf;
}


.tg-logo {
    padding: auto;
    width: 150px;
    height: auto;
    display: block;
}