@font-face {
	font-family: 'Libre-Baskerville';
	src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Libre-Baskerville';
	src: url('fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: oblique;
}


@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body {
    background: black !important;
}

p{
	color: white;
	font-family: 'Libre-Baskerville';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}



.container-fluid {
    background-color: black;
}



.container {
    background-color: black;
}

.container > div{
	margin: 40px 0;
}

h1{
	color: white;
	font-family: 'Avenir';
	font-weight: normal;
	font-style: normal;
	letter-spacing: 5px;
	
}

h5 {
    font-family: 'Libre-Baskerville';
    font-weight: bold;
    font-style: normal;
}

.default-title {
    color: white;
	font-weight: bold;
}

.default-text {
    color: #4eaadf;
}


.tg-logo {
    padding: auto;
    width: 150px;
    height: auto;
    display: block;
}


.video-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }

  .divider{
	width: 100%;
	height: 1px;
	background: white;
	margin: 20px 0;
  }