@font-face {
	font-family: 'Libre-Baskerville';
	src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Libre-Baskerville';
	src: url('fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: oblique;
}


@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body {
    background: black !important;
}

p{
	color: white;
	font-family: 'Libre-Baskerville';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}


.container-fluid {
    background-color: black;
}



.container {
    background-color: black;
}

h1{
	color: white;
	font-family: 'Avenir';
	font-weight: normal;
	font-style: normal;
	letter-spacing: 5px;
	
}

h5 {
    font-family: 'Libre-Baskerville';
    font-weight: bold;
    font-style: normal;
}

.default-title {
    color: white;
}

.default-text {
    color: #4eaadf;
}


.tg-logo {
    padding: auto;
    width: 150px;
    height: auto;
    display: block;
}

iframe {
	/* min-height: 100px; */
    width: 100%; /* Take up the full width of the container */
    height: 500px;
    border: none; /* Remove the border */
}